.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #101820;
  margin-bottom: 50px;
}

.title-container {
  flex-grow: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.button {
  color: white;
  transition: color 0.3s;
}

.button:hover {
  color: red;
}

.main-title {
  color: white;
}

.nav-container a {
  color: white;
}

.nav-container div a {
  margin-right: 10px;
}
