<header class="main-header">
  <div class="title-container">
    <h1 class="main-title">{{ title }}</h1>
  </div>

  <nav class="nav-container">
    <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>

    <a class="button" routerLink="/user-register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Register</a>
    <a class="button" routerLink="/user-login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a>

    <div>
      <a class="button" routerLink="/movie-upload" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Add movies</a>
      <a class="button" routerLink="/movie-get" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Find Movies</a>
    </div>
  </nav>
</header>
