<div class="container">
  <mat-table [dataSource]="this.genres" matSort>
    <!--    First Column - Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Genre ID</mat-header-cell>
      <mat-cell *matCellDef="let genre">{{ genre.id }}</mat-cell>
    </ng-container>

    <!--    Second Column - Name -->
    <ng-container matColumnDef="genreName">
      <mat-header-cell *matHeaderCellDef>Genre Name</mat-header-cell>
      <mat-cell *matCellDef="let genre">{{ genre.name }}</mat-cell>
    </ng-container>

    <!--    Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let genre">
        <button mat-raised-button
                color="primary"
                matTooltip="Click to edit"
                (click)="editGenre(genre)">
          Edit
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete</mat-header-cell>
      <mat-cell *matCellDef="let genre">
        <button mat-raised-button color="warn" matTooltip="Click to Delete">
          Delete
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
