<!--todo: select genre when saving movies from available genres-->
<mat-card>
  <div class="flex-container">
    <form [formGroup]="form" (ngSubmit)="saveMovie()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" name="title" id="title" formControlName="title">

          <mat-error *ngIf="this.form.get('title')?.touched && this.form.get('titles')?.hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Headline</mat-label>
          <input matInput type="text" name="headline" id="headline" formControlName="headline">

          <mat-error *ngIf="this.form.get('headline')?.touched && this.form.get('headline')?.hasError('required')">
            Headline is required
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Overview</mat-label>
          <input matInput type="text" name="overview" id="overview" formControlName="overview">

          <mat-error *ngIf="this.form.get('overview')?.touched && this.form.get('overview')?.hasError('required')">
            Overview is required
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Release Date</mat-label>
          <input matInput
                 type="date"
                 formControlName="releaseDate"
                 name="releaseDate"
                 id="releaseDate">

          <mat-error *ngIf="this.form.get('releaseDate')?.touched && this.form.get('releaseDate')?.hasError('required')">
            Release Date is required
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <!--        todo: use a poster upload instead of url upload-->
        <mat-form-field appearance="fill">
          <mat-label>Poster Url</mat-label>
          <input matInput type="text" name="posterUrl" id="posterUrl" formControlName="posterUrl">

          <mat-error *ngIf="this.form.get('posterUrl')?.touched && this.form.get('posterUrl')?.hasError('required')">
            Poster is required
          </mat-error>
        </mat-form-field>
      </p>

      <div>
        <button type="submit" mat-raised-button>Save Movie</button>
      </div>

    </form>
  </div>
</mat-card>
