<div class="container">

  <div class="user-info">
    <div class="user-details">
      <img class="profile-image" [src]="user.profilePictureUrl ? user.profilePictureUrl : 'placeholder.jpg'" alt="User Image">
      <div>
        <h1>{{ user.username }}</h1>
        <button mat-raised-button>EDIT PROFILE</button>
      </div>
    </div>

    <div class="stats">
      <p>Number of reviews: {{ reviews.length }}</p>
      <p>Films watched: </p>
    </div>
  </div>

  <div class="nav">
    <!-- Navigation menu goes here -->
  </div>
</div>
