:host {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.hover-button{
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.movie-item {
  width: 100%;
}

.mat-card {
  position: relative;
}

button {
  position: absolute; /* Absolute position to put the buttons at the bottom of the movie poster */
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hide the button */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

.movie-card:hover button {
  opacity: 1; /* Show the button when hovering over the card */
}
