
.hover-button {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.movie-item {
  width: 100%;
}

.movie-title {
  margin-top: 10px; /* Add some spacing between the poster and the title */
  text-align: center; /* Center-align the movie titles */
  font-size: 14px;
}

.mat-card {
  position: relative;
}

.movie-card {
  cursor: pointer;
}

button {
  position: absolute; /* Absolute position to put the buttons at the bottom of the movie poster */
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hide the button */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

.movie-card:hover button {
  opacity: 1; /* Show the button when hovering over the card */
}
