:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.movie-item {
  width: 100%;
}

.mat-card {
  position: relative;
}

button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
