<form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)">
  <div class="movie-details">
    <img [src]="movie.posterUrl" alt="{{ movie.title }} Poster" class="movie-poster">
    <div class="movie-info">
      <h1 class="title">
        <input type="text" [(ngModel)]="movie.title" name="title" placeholder="Title" required>
      </h1>
      <p class="release-date">
        <input type="date" [(ngModel)]="movie.releaseDate" name="releaseDate" required>
      </p>
      <p class="headline">
        <input type="text" [(ngModel)]="movie.headline" name="headline" placeholder="Headline" required>
      </p>
      <p class="overview">
        <textarea [(ngModel)]="movie.overview" name="overview" placeholder="Overview" required></textarea>
      </p>
      <button type="submit" class="submit-button">Update Movie</button>
      <button type="button" class="delete-button" (click)="deleteMovieById(movie.id)">Delete Movie</button>
    </div>
  </div>
</form>
