.title {
  display: flex;
  flex-direction: row;
}

.user-items {
  display: flex;
  flex-direction: column;
}

.user-button {
  display: flex;
  align-items: center;
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
