.title {
  display: flex;
  flex-direction: row;
}

.user-items {
  display: flex;
  flex-direction: row;
}


mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
