<div class="centered-menu">
  <!-- User Register and Login if not authenticated -->
  <div *ngIf="!isUserLoggedIn()">
    <button mat-button routerLink="/user-login">Login</button>
    <button mat-button routerLink="/user-register">Register</button>
  </div>

  <!-- Display Zone if Authenticated -->
  <div *ngIf="isUserLoggedIn()">
    <img
      ngSrc="assets/logo.svg" [width]="35" [height]="35"
      alt="Logo"
      class="rounded-circle me-2"
      aria-expanded="false"
    />
    <button mat-button routerLink="/">Letterboxd</button>

    <button mat-button [matMenuTriggerFor]="movieMenu">Movies</button>
    <button mat-button routerLink="/genre-list" *ngIf="roles.includes('Admin')">Genres</button>
    <button mat-button [matMenuTriggerFor]="profileMenu">
      <img
        ngSrc="assets/default-profile.png" [width]="35" [height]="35"
        alt="User Profile"
        class="rounded-circle me-2"
        id="userDropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      />
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</div>

<mat-menu #movieMenu="matMenu">
  <button mat-menu-item routerLink="/movie-list">Find Movies</button>
  <button mat-menu-item *ngIf="isUserLoggedIn()" routerLink="/movie-save">Add Movies</button>
</mat-menu>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/user-profile">User Profile</button>
  <button mat-menu-item routerLink="/user-watchlist">Watchlist</button>
</mat-menu>
