<header class="main-header bg-dark text-white p-3 mb-3 d-flex justify-content-between align-items-center">
  <div class="title-container">
    <a routerLink="/home" class="text-white text-decoration-none display-6">{{ title }}</a>
  </div>

  <nav class="nav-container d-flex justify-content-center flex-grow-1 gap-2">
    <!-- Show Register and Login links only if the user is not authenticated -->
    <a *ngIf="!isUserLoggedIn()" class="btn btn-light text-dark" routerLink="/user-register" routerLinkActive="btn-primary" ariaCurrentWhenActive="page">Register</a>
    <a *ngIf="!isUserLoggedIn()" class="btn btn-light text-dark" routerLink="/user-login" routerLinkActive="btn-primary" ariaCurrentWhenActive="page">Login</a>

    <!-- Show Movies and Genre links only if the user is authenticated -->
    <div *ngIf="isUserLoggedIn()" class="dropdown">
      <button class="btn btn-light text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Movies
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" routerLink="/movie-save" routerLinkActive="active" aria-current="page">Add Movie</a></li>
        <li><a class="dropdown-item" routerLink="/movie-list" routerLinkActive="active" aria-current="page">Find Movies</a></li>
      </ul>
    </div>

    <a *ngIf="isUserLoggedIn()" class="btn btn-light text-dark" routerLink="/genre-list" routerLinkActive="btn-primary" ariaCurrentWhenActive="page">Genre</a>

    <div *ngIf="isUserLoggedIn()" class="logout-container">
      <button (click)="logout()" class="btn btn-light text-dark">Logout</button>
    </div>
  </nav>
</header>
