<!-- todo: add searchbar for movies -->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!--    Left side of the bar-->
    <div class="title">
      <img
        ngSrc="assets/logo.svg" [width]="35" [height]="35"
        alt="Logo"
        class="rounded-circle me-2"
        aria-expanded="false"
      />
      <button mat-button routerLink="/">Letterboxd</button>
    </div>

    <!--    Middle of the bar-->
    <div *ngIf="isUserLoggedIn()">
      <button mat-button [matMenuTriggerFor]="movieMenu">Movies</button>
      <button mat-button *ngIf="roles.includes('Admin')" routerLink="/genre-list">Genres</button>
    </div>

    <!--    Right side -->
    <div class="user-items">
      <div *ngIf="!isUserLoggedIn()">
        <button mat-button routerLink="/user-login">Login</button>
        <button mat-button routerLink="/user-register">Register</button>
      </div>

      <div *ngIf="isUserLoggedIn()">
        <button mat-button [matMenuTriggerFor]="profileMenu" class="user-button">
          <span>{{ this.username }}</span>
          <img
            src="assets/default-profile.png" [width]="30" [height]="30"
            alt="User Profile"
            class="rounded-circle"
            id="userDropdownMenuButton"
            aria-expanded="false"
          />
        </button>
      </div>


    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #movieMenu="matMenu">
  <button mat-menu-item routerLink="/movie-list">Find Movies</button>
  <button mat-menu-item *ngIf="roles.includes('Admin')" routerLink="/movie-save">Add Movies</button>
</mat-menu>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/user-profile">User Profile</button>
  <button mat-menu-item routerLink="/user-watchlist">Watchlist</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
