.container {
  display: flex;
  margin: 100px 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-info-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.poster-container {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-release-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.headline-overview-container {
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-container button {
  width: 125px;
}


.reviews-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.actors-container{
  margin-top: 30px;
}
