<mat-card>
  <div class="flex-row">
    <!-- Display Movie poster -->
    <div class="poster-container">
      <img [src]="movie.posterUrl" alt="{{ movie.title }} Poster" [width]="250" [height]="400">
    </div>

    <!-- Display Movie details -->
    <div class="details-container">
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.releaseDate }}</p> <!-- Date of the movie -->

      <!-- Buttons for adding and removing from watchlist -->
      <div class="button-container">
        <button mat-raised-button color="warn" (click)="openDeleteDialog('0ms', '0ms')">Delete Movie</button>
        <button mat-raised-button color="primary" (click)="navigateToUpdateMovie()">Update Movie</button>
        <button mat-raised-button [color]="isMovieInWatchlist() ? 'warn' : 'primary'" (click)="toggleWatchlist()">
          {{ isMovieInWatchlist() ? 'Remove from Watchlist' : 'Add to Watchlist' }}
        </button>
      </div>


      <p class="h5">{{ movie.headline }}</p>
      <p>{{ movie.overview }}</p>
      <p>Genres: <span *ngFor="let genre of movie.genres; let isLast=last">{{ genre.name }}{{ isLast ? '' : ', ' }}</span></p>

      <!-- Display Actors -->
      <div class="actors-container">
        <div *ngFor="let movieActor of movie.movieActors" (click)="navigateToActorDetails(movieActor.actor.id)">
          <img [src]="movieActor.actor.profilePictureUrl" alt="{{ movieActor.actor.firstName }} {{ movieActor.actor.lastName }}">
          <div>{{ movieActor.actor.firstName }} {{ movieActor.actor.lastName }}</div>
          <div><small>{{ movieActor.role }}</small></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Display movie reviews -->
  <div class="reviews-container">
    <h2>Reviews</h2>
    <mat-card *ngFor="let review of movie.reviews">
      <mat-card-header>
        <mat-card-title>{{ review.user.username }}</mat-card-title>
        <mat-card-subtitle>{{ review.score }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ review.text }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Display section for adding reviews -->
    <h2>Add a Review</h2>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" class="add-review-container" (ngSubmit)="submitReview()">
          <mat-form-field>
            <textarea matInput id="reviewText" formControlName="text" required></textarea>
            <mat-label>Review</mat-label>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" id="reviewScore" formControlName="score" required min="1" max="10">
            <mat-label>Score</mat-label>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
