<div class="d-flex justify-content-center align-items-center">
  <img [src]="movie.posterUrl" alt="{{ movie.title }} Poster" class="mr-5" style="width: 250px;margin-right: 50px">
  <div style="max-width: 800px;">
    <h1>{{ movie.title }}</h1>
    <p class="text-muted mb-2">{{ movie.releaseDate }}</p>
    <p class="font-weight-bold display-6">{{ movie.headline }}</p>
    <p class="mb-2 lead">{{ movie.overview }}</p>
    <p class="mb-2 lead">Genres: <span *ngFor="let genre of movie.genres; let isLast=last">{{ genre.name }}{{ isLast ? '' : ', ' }}</span></p>
    <button class="btn btn-primary mb-3" (click)="navigateToUpdateMovie()">Update Movie</button>
    <div class="d-flex flex-wrap justify-content-start">
      <div *ngFor="let movieActor of movie.movieActors" class="text-center mr-4 mb-4 actor-link" (click)="navigateToActorDetails(movieActor.actor.id)">
        <img [src]="movieActor.actor.profilePictureUrl" alt="{{ movieActor.actor.firstName }} {{ movieActor.actor.lastName }}" class="mb-2" style="width: 120px;">
        <div>{{ movieActor.actor.firstName }} {{ movieActor.actor.lastName }}</div>
        <div class="text-muted"><small>{{ movieActor.role }}</small></div>
      </div>
    </div>
  </div>
</div>
