.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
}

.poster-container {
  flex: 30%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.details-container {
  flex: 70%;
}

.actors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.reviews-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-review-container {
  display: flex;
  flex-direction: column
}


.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.reviews-container mat-card-title,mat-card-subtle{
  width:500px;
}

mat-form-field{
  width: 500px;
}
