.container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.movie-info {
  display: flex;
  flex-direction: row;
  gap: 30px
}

mat-form-field {
  width: 600px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
